// Small devices (landscape phones, 576px and up)
@media (max-width: 575px) {

  #partner {
    .container-fluid {
      .row {
        .col-6 {
          img {
            max-width: 70%;
          }
        }
      }
    }
  }

  button.navbar-toggler {
    font-size: 1.3rem;
    border: 2px solid #000000 !important;
    border-radius: 0px;
  }

  #speakers {
    .container-fluid {
      .row {
        .col-12 {
          div {
            h1 {
              font-size: 2.8rem !important;
              padding-top: .6rem !important;
            }
            p {
              font-size: 3rem;
            }
          }
          .overlay {
            opacity: 1;
            height: calc(100% - 68%);
            bottom: 0;
            top: 63%;
          }
          p {
            @include font-size(19);
          }
        }
      }
    }
  }

  #main {
    padding: 70px 0 0 0;
  }

  #subsite-header {
    padding: 115px 0 0 0;
  }

  #program {
    .container-fluid {
      .row {
        .col {
          .centered {
            h1 {
              padding-top: 4rem;
            }
            position: relative;
            margin-bottom: -2rem;
            top: -2rem;
            left: 0;
            transform: none;
            background: rgba(255, 121, 1, 1);
            p {
              padding: 0 3rem;
            }
          }
        }
      }
    }
  }

  #footer {
    .container {
      padding: 0 2rem;
      .row {
        .col {
          p:last-child {
            float: left;
          }
        }
      }
    }
  }

  #details {
    .container-fluid {
      .row {
        .detail-text {
          padding: 3rem 5rem;
        }
        .col-12 {
          h1 {
            margin-top: 3rem;
          }
          button {
            margin-bottom: 3rem;
          }
        }
      }
    }
  }

  a.navbar-brand {
    margin: 1rem auto;
    padding: 1rem;
  }
  header {
    nav {
      div {
        ul {
          li {
            a {
              @include font-size(20);
            }
          }
        }
      }
    }
  }

  #subsite-text {
    .container {
      .row {
        .main {
          padding: 0 4rem 4rem 4rem;
        }
        .sidebar {
          .row {
            width: 50%;
          }
        }
      }
    }
  }

  #cover {
    .container {
      max-width: 100% !important;
      .row {
        .centered {
          .row {
            .col-12 {
              h1 {
                padding-top: 4rem ;
                @include font-size(32);
              }
            }
          }
          position: relative;
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 576px) and (max-width: 767px) {

  #main {
    padding: 70px 0 0 0;
  }

  #partner {
    .container-fluid {
      .row {
        .col-6 {
          img {
            max-width: 60%;
          }
        }
      }
    }
  }

  #details {
    .container-fluid {
      .row {
        .detail-text {
          padding: 3rem 5rem ;
        }
        .col-12 {
          h1 {
            margin-top: 3rem;
          }
          button {
            margin-bottom: 3rem;
          }
        }
      }
    }
  }

  a.navbar-brand {
    margin: 1rem auto;
    padding: 1rem;
  }

  header {
    nav {
      div {
        ul {
          li {
            a {
              @include font-size(20);
            }
          }
        }
      }
    }
  }


  #subsite-title {
    .container {
      margin: 0 auto;
    }
  }

  #subsite-text {
    .container {
      .row {
        .main {
          padding: 0;
        }
        .sidebar {
          .row {
            width: 47%;
          }
        }
      }
    }
  }

  #separator {
    .container {
      padding: 0 5rem !important;
    }
  }

  #cover {
    .container {
      max-width: 100% !important;
      .row {
        .centered {
          .row {
            .col-12 {
              h1 {
                padding-top: 4rem ;
                @include font-size(32);
              }
            }
          }
          position: relative;
        }
      }
    }
  }

  #program {
    .container-fluid {
      .row {
        .col {
          .centered {
            h1 {
              padding-top: 4rem;
            }
            position: relative;
            margin-bottom: -2rem;
            top: -2rem;
            left: 0;
            transform: none;
            background: rgba(255, 121, 1, 1);
            p {
              padding: 0 3rem;
            }
          }
        }
      }
    }
  }

  #speakers {
    .container-fluid {
      .row {
        .col-12 {
          div {
            h1 {
              font-size: 3.8rem !important;
              padding-top: 6rem !important;
            }
            p {
              font-size: 4rem;
            }
          }
          .overlay {
            opacity: 1;
            height: calc(100% - 68%);
            bottom: 0;
            top: 63%;
          }
            p {
              @include font-size(19);
            }
          }
        }
      }
    }

  #footer {
    .container {
      padding: 0 2rem;
      .row {
        .col {
          p:last-child {
            float: left;
          }
        }
      }
    }
  }

}



  // Large devices (desktops, 992px and up)
  @media (min-width: 768px) and (max-width: 991px) {

    #partner {
      .container-fluid {
        .row {
          .col-6 {
            img {
              max-width: 50%;
            }
          }
        }
      }
    }

    #main {
      padding: 70px 0 0 0;
    }

    #program {
      .container-fluid {
        .row {
          .col {
            .centered {
              h1 {
                padding-top: 4rem;
              }
              position: relative;
              margin-bottom: -2rem;
              top: -2rem;
              left: 0;
              transform: none;
              background: rgba(255, 121, 1, 1);
              p {
                padding: 0 3rem;
              }
            }
          }
        }
      }
    }

    #footer {
      .container {
        padding: 0 2rem;
        .row {
          .col {
            p:last-child {
              float: left;
            }
          }
        }
      }
    }

    #subsite-text {
      .container {
        .row {
          .main {
            padding: 0px 6rem 3rem 6rem;
          }
          .sidebar {
            .row {
              width: 35%;
            }
          }
        }
      }
    }

    #details {
      .container-fluid {
        .row {
          .detail-text {
            padding: 3rem 5rem;
          }
          .col-12 {
            h1 {
              margin-top: 3rem;
            }
            button {
              margin-bottom: 3rem;
            }
          }
        }
      }
    }

    header {
      nav {
        div {
          ul {
            li {
              a {
                @include font-size(20);
              }
            }
          }
        }
        a.navbar-brand {
          margin: 1rem auto;
          padding: 1rem;
        }
      }
    }
    #footer {
      .container {
        padding: 0 2rem;
        .row {
          .col {
            p:last-child {
              float: left;
            }
          }
        }
      }
    }
    #speakers {
      .container-fluid {
        .row {
          .col-12 {
            .overlay {
                opacity: 1;
                height: calc(100% - 62%);
                bottom: 0;
                top: 56%;
              h1 {
                font-size: 2.3rem;
                padding-top: 0.6rem;
              }
            }
            p {
              @include font-size(19);
            }
          }
        }
      }
    }
  }


  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 992px) and (max-width: 1199px) {

    #partner {
      .container-fluid {
        .row {
          .col-6 {
            img {
              max-width: 40%;
            }
          }
        }
      }
    }

    #subsite-text {
      .container {
        .row {
          .sidebar {
            .row {
              width: 83%;
            }
          }
        }
      }
    }
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {

    #main {
      padding: 40px 0 0 0;
    }

    #partner {
      .container-fluid {
        .row {
          .col-6 {
            img {
              max-width: 30%;
            }
          }
        }
      }
    }

    #subsite-text {
      .container {
        .row {
          .sidebar {
            .row {
              width: 69%;
            }
          }
        }
      }
    }
  }