// font-size rem
html {
  font-size: 62.5%;
  // setting global font type
  body {
    font-family: "Open Sans", Arial;
    font-weight: 400;
  }
}

// navbar-toggler

button.navbar-toggler {
  font-size: 1.8rem;
  border: 2px solid #000000 !important;
  border-radius: 0px;
  span.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
}

//btn
.btn {
  padding: 0.5rem 2.5rem 0.5rem 2.5rem !important;
}

// header font
header {
  nav {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    p {
      @include font-size(15);
    }
    .navbar-brand {
      @include font-size(15);
    }
    div {
      .btn {
        border-radius: 0rem;
        text-transform: uppercase;
        @include font-size(15);
      }
      ul {
        li {
          padding: 2rem 2rem;
          a {
            font-family: "Open Sans", Arial;
            font-weight: 600;
            text-transform: uppercase;
            @include font-size(15);
            color: #000000 !important;
          }
        }
      }
    }
  }
}

//#cover main image padding & center
#cover {
  h2 {
    color: #FFFFFF !important;
  }
  position: relative;
  .centered {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(255, 198, 0, 0.75);
    width: 100%;
  }
  .main-img {
    padding: 0;
  }
}

// #separator headlines (h3)
h3 {
  font-family: "Open Sans", Arial;
  font-weight: 300;
  @include font-size(25);
  text-transform: uppercase;
  color: #FFF;
}

// #separator1 p
#separator {
  .date {
    margin: 3.5rem 0 0 0;
    p {
      font-family: "Bitter", Arial;
      font-weight: 700;
      @include font-size(24);
      color: #FFF;
    }
  }
  .place {
    margin: 3.5rem 0 0 0;
    p {
      font-family: "Bitter", Arial;
      font-weight: 700;
      @include font-size(24);
      color: #FFF;
    }
  }
}

// #separator p
#separator {
    p {
      font-family: "Open Sans", Arial;
      font-weight: 600;
      @include font-size(21);
      color: #FFF;
  }
}

// #separator background & margin
#separator {
  background-color: #32363b;
  .text-center {
    p {
      margin: 3rem 0;
    }
  }
  .container {
    .row {
      col-6 {
        h3 {
          margin-top: 2rem;
        }
        p {
          margin-bottom: 2rem;
        }
      }
    }
  }
}

// h1
h1 {
  @include font-size(32);
  color: #FFFFFF;
  letter-spacing: .025em;
  text-transform: uppercase;
  font-family: "Bitter", Arial;
  font-weight: 700;
  line-height: 120%;
  padding: 1.5rem 0 2rem 0;
}

// h2
h2 {
  @include font-size(21);
  color: #b9b9b9;
  text-transform: uppercase;
  font-family: "Open Sans", Arial;
  font-weight: 600;
  line-height: 120%;
  padding: 1rem 0 1.7rem 0;
}

// p
p {
  @include font-size(19);
  color: #FFFFFF;
  font-family: "Open Sans", Arial;
  font-weight: 300;
  line-height: 150%;
}

// caption under images
.wp-caption .wp-caption-text {
  @include font-size(15);
  text-align: left;
}

#subsite-text ul {
  @include font-size(19);
  color: #000000;
  font-family: "Open Sans", Arial;
  font-weight: 300;
  line-height: 150%;
  margin: 1.7rem 0 .9rem 0;
  li {
    list-style: square;
    padding: 1rem 0 1.2rem;
    ul {
      li {
        list-style: disc;
      }
    }
  }
}


// #details background left side
#details {
  background-color: #1e52f3;
}

// #details btn outline
#details {
  .btn-outline-primary {
    @include font-size(19);
    font-family: "Open Sans", Arial;
    font-weight: 600;
    border-radius: 0;
    text-transform: uppercase;
    color: #FFF;
    border: 2px solid #FFF;
    &:hover {
      color: #1e52f3;
      background-color: #FFF;
      border: 2px solid #FFF;
    }
    &:active {
      color: #1e52f3;
      background-color: #FFF;
      border: 2px solid #FFF;
    }
  }
}


// #details text padding
#details {
  .container-fluid {
    .row {
      .picture {
        padding: 0;
      }
      .detail-text {
        padding: 0 10rem 0 10rem;
      }
    }
  }
}

// #program btn outline
#program {
  .btn-outline-primary {
    @include font-size(19);
    font-family: "Open Sans", Arial;
    font-weight: 600;
    border-radius: 0;
    text-transform: uppercase;
    color: #FFF;
    border: 2px solid #FFF;
    &:hover {
      color: rgba(255, 121, 1, 0.75);
      background-color: #FFF;
      border: 2px solid #FFF;
      transition: all 400ms ease-in-out;
    }
    &:active {
      color: rgba(255, 121, 1, 0.75);
      background-color: #FFF;
      border: 2px solid #FFF;
      }
  }
}

// #program text center
#program {
  .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 121, 1, 0.75);
  width: 100%;
}
}


// #program margin button & headline
#program {
  .container-fluid {
    .row {
      .col {
        padding: 0;
        .centered {
          h1 {
            margin: 2rem 0 1rem 0;
          }
          .btn {
            margin-bottom: 4rem;
          }
        }
      }
    }
  }
}

// #speakers btn outline & background & hover & padding
#speakers {
  background-color: #f3230d;
  .container-fluid {
    .row {
      .speakers-text {
        padding: 5rem !important;
      }
      .col-12 {
        position: relative;
        padding: 0;
        .overlay {
          h1 {
            padding-top: 40rem;
            font-size: 2.8rem;
          }
          width: calc(100% - 3rem);
          height: calc(100% - 3rem);
          margin: auto;
          position: absolute;
          background: rgba(243, 35, 13, 0.4);
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          opacity: 0;
          padding: 1rem;
          &:hover {
            opacity: 1;
            transition: all 400ms ease-in-out;
          }
        }
        .btn-outline-primary {
          @include font-size(19);
          font-family: "Open Sans", Arial;
          font-weight: 600;
          border-radius: 0;
          text-transform: uppercase;
          color: #FFF;
          border: 2px solid #FFF;
          &:hover {
            color: #f3230d;
            background-color: #FFF;
            border: 2px solid #FFF;
            transition: all 400ms ease-in-out;
          }
          &:active {
            color: #f3230d;
            background-color: #FFF;
            border: 2px solid #FFF;
            }
        }
      }
    }
  }
}

// #partner btn
#partner {
  margin: 4rem 0;
  h1 {
    color: #004787;
  }
  .btn-outline-primary {
    margin: 3rem 0 2rem 0;
    @include font-size(19);
     font-family: "Open Sans", Arial;
     font-weight: 600;
     border-radius: 0;
     text-transform: uppercase;
     color: #004787;
     border: 2px solid #004787;
     &:hover {
       color: #FFF;
       background-color: #004787;
       border: 2px solid #004787;
       transition: all 400ms ease-in-out;
     }
     &:active {
       color: #FFF;
       background-color: #004787;
       border: 2px solid #004787;
     }
   }
}

#footer {
  .container {
    .row {
      .col {
        padding: 1rem 0 5rem 0;
        p:first-child {
          float: left;
        }
        p:last-child {
          float: right;
        }
      }
    }
  }
  p {
    color: #b9b9b9 !important;
  }
  a {
    color: #FFFFFF !important;
    &:hover {
      color: #FFFFFF;
      text-decoration: underline;
    }
  }
  background-color: #004787;
  p {
    color: #FFFFFF;
  }
}


#subsite-header {
  .container-fluid {
    div {
      .col {
      }
    }
  }
}

#subsite-title {
  .container {
    margin: -28rem auto 0 auto;
    .col {
      background: #FFFFFF;
      padding: 8rem 0 0 0;
      h1 {
        color: #000;
        @include font-size(40);
        &:after {
          padding: 2.4rem 0 0 0;
          content: "";
          border-bottom: 1px solid #000000;
          width: 15%;
          display: block;
          margin: auto auto 6rem auto;
        }
      }
    }
  }
}

#subsite-text {
  a {
    color: #074885;
    &:visited {
      color: #074885;
    }
  }
  .container {
    .row {
      .sidebar {
        .row {
          padding: 2rem 0 4rem 0;
         }
        p {
          a {
            color: #074885;
            &:visited {
              color: #074885;
            }
          }
        }
      }
    }
  }
  .main {
    background: #FFFFFF;
    padding: 0 0 4rem 10rem;
    h2 {
      color: #000000;
      margin: 2rem 0 2rem 0;
    }
    p {
      color: #000000;
      margin: 2.8rem 0 3.2rem 0;
    }
    hr.divider {
      background-color: #EFEFEF;
      border: 0;
      height: 15px;
      margin-top: 2em;
      margin-bottom: 10.5em;
    }
  }
  .sidebar {
    background: #FFFFFF;
    .btn-outline-primary {
      h1 {
        font-family: "Bitter", Arial;
        color: #000000;
        font-weight: 700;
        @include font-size(40);
        letter-spacing: .060em;
        line-height: 100%;
        margin: 0.5rem 0 0 0;
        padding: 0;
      }
      p {
        font-family: "Bitter", Arial;
        color: #000000;
        font-weight: 700;
        @include font-size(18);
        letter-spacing: .060em;
        line-height: 100%;
        margin: 0 0 1rem 0;
      }
      margin: 3rem 0 2rem 0;
      border-radius: 0;
      text-transform: uppercase;
      border: 2px solid #000000;
      &:hover {
        h1 {
          color: #ffffff;
        }
        p {
          color: #ffffff;
        }
        background-color: #000000;
        border: 2px solid #000000;
        transition: all 400ms ease-in-out;
      }
      &:active {
        color: #FFF;
        background-color: #000000;
        border: 2px solid #000000;
      }
    }
  }
}

// form layout

// label
label {
  @include font-size(15);
  color: #000000;
  font-family: "Open Sans", Arial;
  font-weight: 600;
  line-height: 150%;
  margin-top: 1rem;
}

.form-group .form-control {
  @include font-size(19);
  color: #000000;
  font-family: "Open Sans", Arial;
  font-weight: 300;
  line-height: 150%;
  padding: 1.2rem;
  border: 2px solid #000000;
  border-radius: 0;
}

.form-group .form-control.wpcf7-not-valid {
  border: 2px solid #f00;
  transition: all 400ms ease-in-out;
}



form .wpcf7-submit {
  margin: 3rem 0 2rem 0;
  font-size: 190px;
  font-size: 1.9rem;
  font-family: "Open Sans", Arial;
  font-weight: 600;
  border-radius: 0;
  text-transform: uppercase;
  color: #004787;
  border: 2px solid #004787;
  background: white;
  padding: 1rem 2rem 1rem 2rem;;
  &:hover {
    color: white;
    background: #004787;
    border: 2px solid #004787;
    transition: all 400ms ease-in-out;
  }
}

span.wpcf7-not-valid-tip {
  @include font-size(14);
}

.wpcf7-response-output {
  @include font-size(19);
  color: #000000;
  font-family: "Open Sans", Arial;
  font-weight: 600;
  line-height: 150%;
  margin-top: 1rem;
}